@tailwind base;
@tailwind components;
@tailwind utilities;

.centered-table {
    margin: 0 auto;
    border-collapse: collapse;
}

.even-row {
    background-color: #f2f2f2;
}

.odd-row {
    background-color: #e6e6e6;
}

table,
th,
td {
    border: 1px solid black;
    padding: 8px;
}
.github{
    text-decoration:underline;
    color:navy
}